<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.mdd.practice1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TemplateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".day1.no_three.HomeActivity" />
        <activity android:name=".day1.no_two.ResultActivity" />
        <activity android:name=".day1.no_one.DetailActivity" />
        <activity android:name=".day1.no_three.ThirdActivity" />
        <activity android:name=".day1.no_two.SecondActivity" />
        <activity android:name=".day1.no_one.FirstActivity" />
        <activity android:name=".day1.MainActivity">

        </activity>
    </application>

</manifest>